extends layout

block content
  form(method='POST' action='/new')
    label= 'Your name'
      input(type='text' name='user-name')
    label= 'Your message'
      textarea(type='text' name='user-text')
    div(class='btn')
      button(type='submit')= 'Send message'