extends layout

block content
  div(class='link')
    a(href='/new')= 'Join the conversation - post a message'
  each val in messages
    div(class='message')
      header 
        h3= val.user
        h4= new Date(val.added).toLocaleString()
      p #{val.text}